<section
  class="d-flex flex-row row p-relative vh-xl-100 min-vh-xl-100 min-vw-100 justify-content-center align-items-center"
  id="about">
  <div class="col-lg-6 custom-ws-initial min-vh-xl-100 d-xl-flex align-items-center">
    <div class="p-5 w-100">
      <h5 class="mt-4 mt-xl-0">About Us</h5>
      <h2>Who We Are</h2>
      <p class="lead">{{ about.title }}</p>
      <p>{{ about.overview }}</p>
      <p class="text-2">{{ about.customerFocus }}</p>
      <div class="d-xl-flex flex-row align-items-center mt-5">
        <div class="pe-xl-5 text-center text-lg-start">
          <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="250">
            <img class="img-fluid" src="/assets/img/template/logos/logo-1.png" alt="" style="max-width: 150px"/>
          </div>
        </div>
        <div class="mt-5 mt-xl-0 text-center text-lg-start">
          <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
            <img class="img-fluid" src="/assets/img/template/logos/logo-2.png" alt="" style="max-width: 150px"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 custom-ws-initial min-vh-xl-100 d-flex align-items-center border-left-light text-center">
    <div class="p-5 w-100 text-center bg-color-light">
      <div class="p-relative">
        <span class="d-block" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-1" data-scroll-offset="-100%">
          <img class="img-fluid custom-border-radius-1" src="/assets/img/template/generic/generic-1.jpg" alt=""/>
        </span>
        <span
          class="d-block p-absolute bottom-10 text-uppercase custom-text-1"
          data-scroll
          data-scroll-direction="horizontal"
          data-scroll-speed="1">{{ about.expertiseTitle }}</span>
      </div>
      <p class="mb-0 text-1 mt-2">{{ about.expertiseDescription }}</p>
    </div>
  </div>
</section>
