<section
  class="d-flex flex-row p-relative vh-100 min-vh-100 justify-content-center align-items-center bg-color-secondary
    text-light"
  id="home">
  <div class="vw-100 custom-ws-initial min-vh-100 d-flex align-items-center">
    <div class="custom-el-3 p-absolute d-none d-xl-block">
      <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-1.2"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-1.1"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-1.0"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.9"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.8"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.7"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.6"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.5"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.4"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.3"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.2"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.1"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.0"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.2"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.3"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.4"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.5"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.6"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.7"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.8"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-0.9"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-1.0"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-1.1"></span>
        <span class="custom-el-4" data-scroll data-scroll-direction="vertical" data-scroll-speed="-1.2"></span>
      </div>
    </div>
    <div class="custom-el-2 p-absolute">
      <div class="appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="0">
        <img width="100%" height="100%" src="/assets/img/demos/creative-agency-1/svg/generic-1.svg" alt=""/>
      </div>
    </div>
    <div class="text-center p-absolute transform3dx-n50 left-50pct">
      <div class="appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="300">
        <span class="d-block" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3">
          <div class="custom-el-1 bg-color-tertiary border-circle"></div>
        </span>
      </div>
    </div>
    <div class="d-xl-flex flex-column w-100">
      <div class="text-center w-100 p-relative z-index-1">
        <div class="d-xl-flex flex-row justify-content-center align-items-center">
          <div class="text-center text-xl-start">
            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">
              <span class="d-block me-xl-5" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-0.5">
                <strong class="custom-hero-font-1 custom-stroke-text-effect-1">{{ hero.heading }}</strong>
              </span>
            </div>
          </div>
          <div class="text-center text-xl-start ps-4">
            <div class="appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="300">
              <span class="d-block max-vw-xl-25" data-scroll data-scroll-direction="horizontal" data-scroll-speed="-1.5">
                <p class="mb-0 text-4 line-height-5 text-light pt-4 pe-5 pe-xl-0">
                  {{ hero.description}}
                </p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center w-100 p-relative z-index-1 mt-4">
        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="text-center text-xl-start">
            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
              <span class="d-block" data-scroll data-scroll-direction="horizontal" data-scroll-speed="2">
                <strong class="custom-hero-font-2 text-color-light text-uppercase">{{ hero.subHeading }}</strong>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-absolute transform3dy-n50 top-50pct right-0 text-1 d-none d-xl-block">
      <span class="rotate-l-90 d-block text-1 text-uppercase p-relative px-4">
        <i class="fa-solid fa-arrow-down p-absolute left-0 custom-arrow-anim"></i>
        <span class="text-primary">{{ hero.scrollText }}</span>
        <i class="fa-solid fa-arrow-down p-absolute right-0 custom-arrow-anim"></i>
      </span>
    </div>
    <div class="p-absolute w-100 bottom-20 px-4">
      <div class="d-xl-flex justify-content-between">
        <div class="p-2 text-center text-xl-start">
          <p class="m-0 text-0-5">{{ site.copyright }}</p>
        </div>
        <div class="p-2 text-center text-xl-end">
          <ul class="list-inline mb-0">
            <li class="list-inline-item px-1 anim-hover-translate-top-5px transition-2ms">
              <a href="{{ socials.facebook }}" target="_blank" class="text-color-light text-color-hover-primary text-3">
                <i class="fab fa-facebook-f text-3"></i>
              </a>
            </li>
            <li class="list-inline-item px-1 anim-hover-translate-top-5px transition-2ms">
              <a href="{{ socials.twitter }}" target="_blank" class="text-color-light text-color-hover-primary text-3">
                <i class="fab fa-x-twitter text-3"></i>
              </a>
            </li>
            <li class="list-inline-item px-1 anim-hover-translate-top-5px transition-2ms">
              <a href="{{ socials.instagram }}" target="_blank" class="text-color-light text-color-hover-primary text-3">
                <i class="fab fa-instagram text-3"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>